@media (max-width:800px) {
    .Categories {
        display: none
    }
    .Category {
        display: none
    }
}

.Categories {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
    height: 80px;
    overflow-x: scroll;
    width: 100%
}

.Categories::-webkit-scrollbar {
    display: none;
    /* hide scrollbar for Chrome, Safari, and Opera */
}

.Category {
    margin: 5px;
    margin-top: 0px;
    box-shadow: rgba(0, 0, 0, 0.4) -5px 5px 3px;
    border-radius: 3px;
    height: 60px;
    border: solid .2px
}

.subTitleCategory {
    display: flex;
    text-align: center;
    font-size: 16px;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    padding-left: 25px;
    padding-right: 25px;
}

.Category:hover {
    cursor: pointer;
}