@media (max-width:800px) {
    .product {
        display: none
    }
}

.Body {
    margin: 0px
}

p {
    text-align: right;
    font-size: 15px;
    color: #ffffff;
    padding-right: 7px;
}

p.title {
    font-size: 17px;
    color: #ffffff;
    width: 100%;
    margin-top: 10px;
}

p.empty {
    text-align: center;
    font-size: 17px;
    color: #ffffff;
    margin-top: 10px
}

.subTitle {
    text-align: center;
    width: 120px;
    color: #000
    /* background-color: aliceblue; */
}

.product {
    background-color: #363a47fa;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.7) -10px 10px 20px;
}

.product:hover {
    background-color: #2C4770;
    cursor: pointer;
}

.CardImg {
    width: 100%;
    height: 200px;
}

.popUp {
    box-shadow: rgba(0, 0, 0, 0.7) -10px 10px 10px;
}