/*
    #353535
    #2C4770 
    #4B6CB7
    #fac300
    #363a47fa
    #565968fa
    #383d57fa

*/

.title {
    color: #fac300;
    font-size: 40px;
    margin-right: 20px;
}

@media (min-width: 850px) {
    .Left {
        height: 77vh;
        width: 34%;
        background-color: #565968fa;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.7) 0px 20px 30px;
        overflow-y: scroll;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Right {
        height: 80vh;
        width: 64%;
        background-color: #565968fa;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.7) 0px 20px 30px;
        overflow-y: scroll;
        padding: 18px
    }
}

@media (max-width:850px) {
    .Right {
        height: 80vh;
        width: 100%;
        background-color: #565968fa;
        border-radius: 3px;
        box-shadow: rgba(0, 0, 0, 0.7) 0px 20px 30px;
        overflow-y: scroll;
        padding-left: 20px;
        padding: 18px
    }
}

.Zaater {
    height: 100vh;
    width: 100%;
    background-color: #363a47fa;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Header {
    height: 9vh;
    width: 95%;
    background-color: #565968fa;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation: float 3s ease-in-out infinite;
    transform: translatey(0px);
    overflow: visible;
    padding-left: 10px;
    padding-right: 10px;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }
    25% {
        transform: translatey(-1px);
    }
    50% {
        transform: translatey(0px);
    }
    75% {
        transform: translatey(1px);
    }
    100% {
        transform: translatey(0px);
    }
}

.Categories {
    width: 98%;
    height: 6vh;
    overflow-x: scroll;
    padding-left: 5px
}

.Body {
    height: 80vh;
    width: 95%;
    /* background-color: #353535; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Footer {
    background-color: #2C4770;
}